body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
/* header */

.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.link {
  text-decoration: none;
}

.logo-word {
  color: #000000;
}

a {
  text-decoration: none;
}

.nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

ul {
  list-style: none;
}

/* head secction */

.head-block {
  background: #2f303a;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.head-button {
  width: 216px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hide {
  visibility: hidden;
}

.advantage {
  background: #f5f5f5;
}

.advantage-list h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage-list p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  background: #f5f5f5;
}

.work-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #f5f4fa;
}

.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.team li {
  background-color: #ffffff;
}

/* footer */

footer {
  background: #2f303a;
}

.location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.location:hover,
.location:focus {
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
}

/* portfolio */

.buttons {
  background-color: #f5f5f5;
}

button {
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}

button:hover,
button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio {
  background: #f5f5f5;
}

.portfolio-list li {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-list h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
